---
layout: home
author_profile: true
# excerpt: texto a poner...
# class: wide
header:
  teaser: assets/images/construccion-la-laboral.jpg
  og_image: assets/images/construccion-la-laboral.jpg
  overlay_image: assets/images/construccion-la-laboral.jpg
  overlay_color: #FFF
  overlay_filter: 0.6
  caption: Construcción del centro
  actions:
   - label: "Estatutos 2006"
     url: /assets/files/ESTATUTOS-UNIVERSIDAD-LABORAL-2006.pdf
#   - label: Transcripción de los estatutos actuales
#     url: /la laboral/Estatutos-2006/
   - label: Estatutos 2024 (Borrador)
     url: /assets/files/2023-12-14-Estatutos-version-preliminar.pdf
---
<!--
<p>
    Las reclamaciones, al <a rel="noopener"
    href="https://blogs.20minutos.es/yaestaellistoquetodolosabe/sabes-cual-es-el-origen-de-la-expresion-las-reclamaciones-al-maestro-armero/"
    target="_blank">maestro armero</a>…
</p>
-->
