{%- if post.header.teaser -%}{% capture teaser %}{{ post.header.teaser }}{% endcapture %}{%- else -%}{% assign teaser = site.teaser %}{%- endif -%}
{%- if post.id -%}{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}{%- else -%}{% assign title = post.title %}{%- endif -%}

<div class="{{ include.type | default: 'list' }}__item">
<article class="archive__item" id="{{ post.title | slugifly }}" itemscope itemtype="https://schema.org/CreativeWork" role="contentinfo" aria-label="article">
{%- if include.type == "grid" and teaser -%}<div class="archive__item-teaser"><img src="{{ teaser | relative_url }}" alt="{{ post.excerpt | markdownify | strip_html | truncate: 160 }}"></div>{%- endif %}
<h2 class="archive__item-title no_toc" itemprop="headline">{%- if post.link -%}<a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>{%- else -%}<a href="{{ post.url | relative_url }}" rel="permalink">🢒 {{ title }} 🢐</a>{%- endif -%}</h2>
{% include page__meta.html type=include.type %}
{% if post.excerpt -%}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{%- endif -%}
</article>
</div>
<br>
