{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<div itemscope itemtype="https://schema.org/Person">
    {% if author.avatar %}
        <div class="author__avatar">
            {% if author.home %}
                <a href="{{ author.home | relative_url }}">
                    <img src="{{ author.avatar | relative_url }}"
                         alt="{{ author.name }}"
                         itemprop="image">
                </a>
            {% else %}
                <img src="{{ author.avatar | relative_url }}"
                     alt="{{ author.name }}"
                     itemprop="image">
            {% endif %}
        </div>
    {% endif %}
    <div class="author__content">
        {% if author.home %}
            <a href="{{ author.home | relative_url }}">
                <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
            </a>
        {% else %}
            <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
        {% endif %}
        {% if author.bio %}<div class="author__bio" itemprop="description">{{ author.bio | markdownify }}</div>{% endif %}
    </div>
    <div class="author__urls-wrapper">
        <button class="btn btn--inverse" type="button">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
        <ul class="author__urls social-icons">
            {% if author.location %}
                <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
                    <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
                </li>
            {% endif %}
            {% if author.links %}
                {% for link in author.links %}
                    {% if link.label and link.url %}
                        <li>
                            <a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if author.uri %}
                <li>
                    <a href="{{ author.uri }}" itemprop="url">
                        <i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</span>
                    </a>
                </li>
            {% endif %}
            {% if author.email %}
                <li>
                    <a href="mailto:{{ author.email }}">
                        <meta itemprop="email" content="{{ author.email }}" />
                        <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
                    </a>
                </li>
            {% endif %}
            {% if author.keybase %}
                <li>
                    <a href="https://keybase.io/{{ author.keybase }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fas fa-fw fa-key" aria-hidden="true"></i><span class="label">Keybase</span>
                    </a>
                </li>
            {% endif %}
            {% if author.twitter %}
                <li>
                    <a href="https://twitter.com/{{ author.twitter }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
                    </a>
                </li>
            {% endif %}
            {% if author.facebook %}
                <li>
                    <a href="https://www.facebook.com/{{ author.facebook }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i><span class="label">Facebook</span>
                    </a>
                </li>
            {% endif %}
            {% if author.linkedin %}
                <li>
                    <a href="https://www.linkedin.com/in/{{ author.linkedin }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span>
                    </a>
                </li>
            {% endif %}
            {% if author.xing %}
                <li>
                    <a href="https://www.xing.com/profile/{{ author.xing }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i><span class="label">XING</span>
                    </a>
                </li>
            {% endif %}
            {% if author.instagram %}
                <li>
                    <a href="https://instagram.com/{{ author.instagram }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="label">Instagram</span>
                    </a>
                </li>
            {% endif %}
            {% if author.tumblr %}
                <li>
                    <a href="https://{{ author.tumblr }}.tumblr.com"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i><span class="label">Tumblr</span>
                    </a>
                </li>
            {% endif %}
            {% if author.bitbucket %}
                <li>
                    <a href="https://bitbucket.org/{{ author.bitbucket }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="label">Bitbucket</span>
                    </a>
                </li>
            {% endif %}
            {% if author.github %}
                <li>
                    <a href="https://github.com/{{ author.github }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
                    </a>
                </li>
            {% endif %}
            {% if author.gitlab %}
                <li>
                    <a href="https://gitlab.com/{{ author.gitlab }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i><span class="label">GitLab</span>
                    </a>
                </li>
            {% endif %}
            {% if author.stackoverflow %}
                <li>
                    <a href="https://stackoverflow.com/users/{{ author.stackoverflow }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="label">Stack Overflow</span>
                    </a>
                </li>
            {% endif %}
            {% if author.lastfm %}
                <li>
                    <a href="https://last.fm/user/{{ author.lastfm }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i><span class="label">Last.fm</span>
                    </a>
                </li>
            {% endif %}
            {% if author.dribbble %}
                <li>
                    <a href="https://dribbble.com/{{ author.dribbble }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i><span class="label">Dribbble</span>
                    </a>
                </li>
            {% endif %}
            {% if author.pinterest %}
                <li>
                    <a href="https://www.pinterest.com/{{ author.pinterest }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="label">Pinterest</span>
                    </a>
                </li>
            {% endif %}
            {% if author.foursquare %}
                <li>
                    <a href="https://foursquare.com/{{ author.foursquare }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="label">Foursquare</span>
                    </a>
                </li>
            {% endif %}
            {% if author.steam %}
                <li>
                    <a href="https://steamcommunity.com/id/{{ author.steam }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="label">Steam</span>
                    </a>
                </li>
            {% endif %}
            {% if author.youtube %}
                {% if author.youtube contains "://" %}
                    <li>
                        <a href="{{ author.youtube }}"
                           itemprop="sameAs"
                           rel="nofollow noopener noreferrer">
                            <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
                        </a>
                    </li>
                    {% elsif author.youtube %}
                    <li>
                        <a href="https://www.youtube.com/user/{{ author.youtube }}"
                           itemprop="sameAs"
                           rel="nofollow noopener noreferrer">
                            <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if author.soundcloud %}
                <li>
                    <a href="https://soundcloud.com/{{ author.soundcloud }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="label">SoundCloud</span>
                    </a>
                </li>
            {% endif %}
            {% if author.weibo %}
                <li>
                    <a href="https://www.weibo.com/{{ author.weibo }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="label">Weibo</span>
                    </a>
                </li>
            {% endif %}
            {% if author.flickr %}
                <li>
                    <a href="https://www.flickr.com/{{ author.flickr }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="label">Flickr</span>
                    </a>
                </li>
            {% endif %}
            {% if author.codepen %}
                <li>
                    <a href="https://codepen.io/{{ author.codepen }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="label">CodePen</span>
                    </a>
                </li>
            {% endif %}
            {% if author.vine %}
                <li>
                    <a href="https://vine.co/u/{{ author.vine }}"
                       itemprop="sameAs"
                       rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
                    </a>
                </li>
            {% endif %}
            {% include author-profile-custom-links.html %}
        </ul>
    </div>
</div>
