<!-- <meta charset="utf-8"> -->
{%- include jekyll-seo-tag.html -%}
{% comment %}{%- include seo.html -%}{% endcomment %}
{%- unless site.atom_feed.hide -%}
<link href="{%- if site.atom_feed.path -%}{{ site.atom_feed.path }}{%- else -%}{{ '/feed.xml' | relative_url }}{%- endif -%}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ site.title }} Feed">
{%- comment  -%}{%- feed_meta -%}{%- endcomment -%}
{%- endunless -%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>'use strict'; document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{%- if site.head_scripts -%}
    {%- for script in site.head_scripts -%}<script src="{{ script | relative_url }}"></script>{%- endfor -%}
{%- endif -%}

