{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.last_modified_at %}
<p class="page__date">
    <strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>&nbsp;{{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong>&nbsp;<time datetime="{{ page.last_modified_at | date_to_xmlschema }}" title="{{ page.last_modified_at | timeago }}">{{ page.last_modified_at | date: date_format }}</time>
</p>
{% elsif page.date %}
<p class="page__date">
    <strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>&nbsp;{{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong>&nbsp;<time datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | timeago }}">{{ page.date | date: date_format }}</time>
</p>
{% endif %}
