{% comment %} Generador de números aleatorios {% endcomment %}
{% assign min = 50 %}
{% assign max = 10000 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = site.time | date: "%s" | modulo: diff | plus: min %}

{% assign document = post | default: page %}

{% if document.read_time or document.show_date %}
    <p class="page__meta">
        {% if document.show_date and document.date %}
            {% assign date = document.date %}
            {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
            {% assign date_zone = site.date_zone | default: "%Z" %}
            <span class="page__meta-date">
                <i class="far {% if include.type == 'grid' and document.read_time and document.show_date %}fa-fw{% endif %}fa-calendar-alt"
                   aria-hidden="true"
                   role="calendar"
                   aria-details="{{ date | date: date_zone }}"></i>&nbsp;
                <time datetime="{{ date | date_to_xmlschema }}"
                      title="{{ date | timeago }}">{{ date | date: date_format }}</time>
            </span>
        {% endif %}
        {% if document.author %}<span class="page__meta-sep"></span>{% endif %}
        {% if document.author %}
            {% assign author = document.author %} {% assign date_format = site.date_format | default: "%B %-d, %Y" %} {% assign date_zone = site.date_zone | default: "%Z" %}
            <span class="page__meta-date">
                <i class="far {% if include.type == 'grid' and document.author %}fa-fw{% endif %}fa-address-book"
                   aria-hidden="true"
                   role="author"
                   aria-details="{{ author }}"></i>&nbsp; {{ document.author }}
            </span>
        {% endif %}
        {% if document.count_visit %}
            <span class="page__meta-sep"></span>
            <!-- <span id="busuanzi_container_site_pv"> -->
            <span id="{{ document.id }}{{ document.title | slugify: 'latin' }}"></span>

                <i class="far {% if include.type == 'grid' and document.read_time and document.show_date %}fa-fw{% endif %}fa-eye"></i>
                <span id="busuanzi_value_site_pv"></span>
            </span>
        {% endif %}
        {% if document.read_time and document.show_date %}<span class="page__meta-sep"></span>{% endif %}
        {% if document.read_time %}
            {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %} {% assign words = document.content | strip_html | number_of_words %}
            <span class="page__meta-readtime">
                <i class="far {% if include.type == 'grid' and document.read_time and document.show_date %}fa-fw{% endif %}fa-clock"
                   aria-hidden="true"></i>
                {% if words < words_per_minute %}
                    {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
                    {% elsif words == words_per_minute %}
                    1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
                {% else %}
                    {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
                {% endif %}
            </span>
        {% endif %}
    </p>
{% endif %}
