<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
      <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}
  <a class="btn btn--success" data-action="share/whatsapp/share" href="whatsapp://send?text={{ page.url | absolute_url | url_encode }} - {{ page.title | url_encode }}" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Whatsapp"><i class="fab fa-fw fa-whatsapp" aria-hidden="true"></i><span>Whatsapp</span></a>
  <a class="btn btn--info" href="https://telegram.me/share/url?url={{ page.url | prepend: site.url | cgi_escape }}" title="Compartir en Telegram"><i class="fab fa-fw fa-telegram" aria-hidden="true"></i><span>Telegram</span></a>
  <a class="btn btn--twitter" href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
  <a class="btn btn--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
  <a class="btn btn--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
</section>
