---
---
<!doctype html>

<!--
  Minimal Mistakes Jekyll Theme 4.24.0 by Michael Rose
  Copyright 2013-2020 Michael Rose - mademistakes.com | @mmistakes
  Free for personal and commercial use under the MIT license
  https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE
-->

<html lang="{{ site.locale | slice: 0,2 | default: 'en' }}" class="no-js">
    <head>
        {% include head.html %}
        {% include head/custom.html %}
    </head>
    <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
        {% include_cached skip-links.html %}
        {% include_cached browser-upgrade.html %}
        {% include_cached masthead.html %}
        <div class="initial-content">{{ content }}</div>
        {% if site.search == true %}
            <div class="search-content">{% include_cached search/search_form.html %}</div>
        {% endif %}

        <div id="footer" class="page__footer">
            <footer>
                {% include footer/custom.html %}
                {% include_cached footer.html %}
            </footer>
        </div>
        {% include scripts.html %}
    </body>
</html>
