---
layout: archive
---
{{ content }}
<ul class="taxonomy__index">
    {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
    {% for year in postsInYear %}
        <li>
            <a href="#{{ year.name }}">
                <strong>{{ year.name }}</strong>
                <span class="taxonomy__count">{{ year.items | size }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
    <section id="{{ year.name }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ year.name }}</h2>
        <div class="entries-{{ entries_layout }}">
            {% for post in year.items %}
                {% include archive-single.html type=entries_layout %}
            {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">⮝ {{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} ⮝</a>
    </section>
{% endfor %}
